* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-image: url(/src/assets/img/mundo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.card-container {
  width: 700px;
  max-height: 500px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  background-color: #17202a;
  border-radius: 10px;
  color: #d6dbdf;
  box-shadow: 2px 1px 7px #ebedef;
}

.card-container h2 {
  font-size: 2rem;
  margin: 10px 0 0 0;
}

.card-container p {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
}

.card-container button {
  margin: 10px 0 15px 0;
  width: 50%;
  height: 50px;
  font-size: 1rem;
  border-radius: 5px;

  background-color: #aeb6bf;
  border: none;
}

/* container del icon de la nube y la descripcion */

.container-img-text {
  display: flex;
  flex-direction: row;

  gap: 30px;
}

/* container del icon y la temperatura */

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img img {
  width: 250px;
}

.img p {
  margin: 0;
}

.container-description {
  list-style: none;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  gap: 5px;
  margin-top: 20px;

  flex-wrap: wrap;
}

.container-description h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.description-item {
  display: flex;
  align-items: center;

  margin: 5px 0;

  gap: 10px;
}

.description-item p {
  margin: 0;
}

.item-icon {
  font-size: 2rem;
}

.item-icon-u {
  font-size: 2.7rem;
}

/* desde aca hasta los keyframes es de la pantalla de carga, es decir, el loading */

.loader-wrapper {
  width: 60px;
  height: 60px;
}

.loader {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #162534;
  border-top-color: #4bc8eb;
  border-bottom-color: #f13a8f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

.loader-inner {
  border-top-color: #36f372;
  border-bottom-color: #fff;
  animation-duration: 2.5s;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@media (max-width: 568px) {
  .App {
    overflow: hidden;
  }
  .card-container {
    width: 300px;
    height: auto;

    background-color: #17202a;
    border-radius: 10px;
    color: #d6dbdf;
    box-shadow: 2px 1px 7px #ebedef;
  }

  .card-container h2 {
    font-size: 1rem;
    margin: 10px 0 0 0;
  }

  .card-container p {
    font-size: 1rem;
    margin: 5px 0 0 0;
  }

  .card-container button {
    margin: 10px 0 10px 0;
    width: 70%;
    height: auto;
    font-size: 1rem;
    border-radius: 5px;

    background-color: #aeb6bf;
    border: none;
  }

  /* container del icon de la nube y la descripcion */

  .container-img-text {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  /* container del icon y la temperatura */

  .img {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-top: -20px;
  }

  .img img {
    width: 120px;
  }

  .img p {
    margin: 0;
  }

  .container-description {
    list-style: none;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    gap: 0;
    margin-top: 20px;

    flex-wrap: wrap;
  }

  .container-description h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .description-item {
    display: flex;
    align-items: center;

    margin: 2px 0;

    gap: 2;
  }

  .description-item p {
    margin: 0;
  }

  .item-icon {
    font-size: 1rem;
  }

  .item-icon-u {
    font-size: 1.1rem;
  }
}
